#itinerary-result {
  background-color: #ffffff;
}

#segment-nav {
  background-color: #45565E0D;
  text-align: center;
}

.itinerary-header {
  border-bottom: solid 1px #C1BDBD;
  padding: 25px 100px;
}

.itinerary-path {
  padding-top: 10px;
}