
#itinerary-result {
  background-color: #ffffff;
}

#segment-nav {
  background-color: #45565E0D;
  text-align: center;
  padding: 25px 0px;
  height: 100%;
}

.itinerary-title {
  color: var(--main);
  padding-top: 15px;
}

.segment-nav-item {
  margin-bottom: 20px;
}

.segment-nav-link {
  color: var(--primary-dark);
  text-transform: uppercase;
  border: none;
  background-color: inherit;
}

.segment-nav-link:hover {
  text-decoration: none;
  border-bottom: solid 2px var(--main);
}

.segment-nav-link.active {
  text-decoration: none;
  font-weight: bold;
  border-bottom: solid 2px var(--main);
}

.itinerary-header {
  border-bottom: solid 1px #C1BDBD;
  padding: 25px 100px;
}

.itinerary-path {
  padding-top: 10px;
}

.itinerary-path-text {
  color: #45565EBF;
}

.circle-divider {
  color: #45565E21;
}

.divider {
  color: #707070;
  padding: 0px 10px;
}

.segment-preview {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #C1BDBD;
  border-radius: 10px;
  padding: 20px 5px 10px 20px;
  margin-top: 28px;
  min-height: 90px;
}

.flight-preview-grey-border {
  border-right: 1px solid #45565E71
}

.segment-list {
  padding: 25px 25px 150px 25px;
}

.origin-destination {
  font-size: 20px;
  margin-bottom: 0px;
}

.img-airline-logo {
  width: 40px;
  background-color: white;
}

.airline-logo-container {
  display: grid;
  grid-template-columns: 55px 1fr;
}

.baggage-icon-container {
  padding: 0;
  display: grid;
  height: 100%;
  grid-auto-flow: column;
  justify-items: center;
}

.baggage-amount-text {
  padding-top: 10px
}

.card-travel-icon {
  width: 25px;
}

.icon-expand-preview {
  display: grid;
  justify-content: flex-end;
}

.preview-flight-path-container {
  display: grid;
}

.segment-preview-icon-container {
  margin-top: 28px;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}

.segment-preview-container {
  padding-right: 20px;
}

.segment-preview-dotted-line {
  height: 80%;
  top: 70%;
  position: absolute;
  border-left: 1px dashed;
}

.plus-one-indicator {
  position: absolute;
  font-size: 10px;
  left: 80px;
  top: 0px;
}

.flight-preview-time {
  position: relative;
}