#segment-selection {
  background-color: #ffffff;
}

.pre-results-title {
  text-align: center;
  padding: 20px 0px;
  color: var(--primary)
}

.pre-result-subtitle {
  font-size: 20px;
  font-family: 'NeuzeitGro-Bol', sans-serif;
  color: var(--secondary);
  min-height: 60px;
}

.flight-option-box {
  max-width: 290px;
  min-width: 233px;
  padding: 28px 24px 0px 24px;
  width: 100%;
}

.flight-option-container-fare {
  display: grid;
  justify-items: flex-end;
  grid-auto-rows: minmax(min-content, max-content);
}

.flight-option-container-flex {
  display: grid;
  justify-content: flex-start;
  grid-auto-rows: minmax(min-content, max-content);
}

.flight-icon {
  margin-right: 10px;
}

.flight-section {
  padding-bottom: 30px;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40px 1fr;
  min-height: 80px
}

.dotted-connector {
  height: 65%;
  top: 30%;
  position: absolute;
  border-left: 1px dashed;
  left: 11px;
}

.btn-flight-options {
  background-color: var(--secondary) !important;
  color: #fff !important;
}

.flight-options-btn-container {
  display: grid;
  justify-content: center;
  padding: 10px;
  width: 100%;
  max-width: 290px;
}

.landing-section {
  padding: 0;
  min-height: 50px;
}

.flight-path-container {
  display: grid;
  justify-items: center;
}

.flight-detail-container {
  text-align: center;
}

.flight-path-internal-container {
  max-width: 850px
}

.expand-icon {
  transition: 0.5s !important;
}

.expand-icon:focus {
  outline: none;
}

.fare-rules-type {
  grid-auto-columns: 24px 1fr;
  padding-bottom: 40px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
}

.segment-divider {
  margin: 75px 0px;
}

.segment-icon {
  margin: 0px 10px;
}

.sort-select-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100px 100px;
  height: 50px;
  align-items: center;
}

.sort-icon-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.btn-segment-selection-container {
  display: grid;
  justify-content: flex-end;
}

.incompatible-info-icon {
  position: absolute;
  width: 15px !important;
  top: 0px;
  left: 5px;
}

.MuiTableCell-body.no-brand-info {
  color: #D8DCDE;
}

.itinerary-total {
  padding-bottom: 0px;
}

.capitalize {
  text-transform: capitalize;
}

.booking-drawer-rules {
  padding-bottom: 20px
}

.baggage-filter-container {
  padding-top: 20px;
  padding-left: 15px;
}

.filter-group {
  display: inline-block;
  margin: 5px 10px 5px 0px;
}

.vi-segment-container {
  padding: 5px 0px 25px 0px;
}

.vi-segment-icon {
  width: 40px;
}

.self-transfer {
  margin: 0px;
  padding: 10px 0px;
  color: var(--primary);
}

.self-transfer-container {
  margin: 25px 0px 0px 0px;
}

.self-transfer-background {
  background-color: #f1f1f1;
  margin-left: 70px;
}

.indicator-row {
  padding-right: 20px;
  padding-top: 5px;
}

.segment-indicator {
  border-bottom: dashed 2px #45565E0D;
  width: 100%;
}

.current-segment-indicator {
  border-bottom: solid 3px var(--primary);
  width: 100%;
}

.pnr-result-header {
  padding-top: 25px;
}

.itinerary-type-label {
  margin-bottom: 7px;
}