
.filter-title {
    padding-top: 10px;
    padding-left: 20px;
}

.filter-hr {
    width: 90%;
    margin: 5px auto;
}

.filter-selection-container {
    min-width: 300px;
}

.filter-btn-container {
    max-width: 300px;
}