#bookings {
  background-color: #ffffff;
}

.bookings-header {
  border-bottom: solid 1px #45565E40;
  padding: 25px 50px;
}

.bookings-container {
  padding: 50px 25px;
}

.booking-details-link {
  color: #4BAFD7;
  font-weight: bold;
}
.booking-details-link:hover {
  color: #4BAFD7;
  opacity: 0.7;
}