#bookings {
  background-color: #ffffff;
}

.bookings-header {
  border-bottom: solid 1px #45565E40;
  padding: 25px 50px;
}

.bookings-container {
  padding: 50px 25px;
}

.booking-details-container {
  padding: 25px 50px;
}

.booking-details-section {
  padding: 20px 0px;
}

.sort-icon {
  padding: 0px 2px 2px 2px;
  cursor: pointer;
  margin-left: 5px;
}

.sort-active {
  background-color: var(--primary);
  opacity: 0.7;
  color: #fff;
  border-radius: 5px;
}

.MuiButtonBase-root.update-booking-btn {
  margin: 5px 30px 0px 0px;
}

.border-left {
  border-left: 2px solid #45565E40;
  padding-left: 50px;
}

.section-header {
  padding-bottom: 15px;
}

.passenger-icon {
  padding-right: 25px;
}

.passenger-field {
  font-weight: bold;
  color: var(--secondary)
}

.booking-details-loading {
  text-align: center;
  padding: 150px;
}

.bookings-filters {
  padding-bottom: 50px;
}

.multi-pnr-view-label {
  padding-right: 20px;
}

.pnr-icon {
  width: 15px;
}

.expanded-pnr-label {
  padding-left: 10px;
}

.btn-booking-print {
  color: var(--primary) !important;
}

.btn-booking-print:hover {
  background-color: transparent !important;
}

#itinerary-pdf-page-front {
  background: url("../assets/images/travel_agency_background.png");
  background-size: cover;
}

.itinerary-pdf-page {
  width: 720px;
  height: 925px;
  position: relative;
}

.itinerary-pdf-page-last {
  padding: 40px;
}

.itinerary-details-pdf-page {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.itinerary-title-pdf-page {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 20px 60px;
}

.front-page {
  display: grid;
  align-items: center;
}

.front-page-title-container {
  padding: 0 40px;
}

.flight-results-path-pdf-container {
  padding-top: 20px;
}

.self-transfer-pdf-page {
  text-align: center;
  padding: 5px;
  color: white;
  background-color: #45565E;
}

.front-page-pdf-title {
  font-size: 20px;
}

.front-page-pdf-sub-title {
  font-size: 15px;
}

.pdf-title-page-created-by {
  position: absolute;
  bottom: 200px;
}

.passenger-section-header {
  margin: 30px 0px 15px 0px;
}

.passenger-name {
  padding-left: 15px;
}