#book-itinerary {
  background-color: #ffffff;
  padding-bottom: 50px;
}

.book-header {
  border-bottom: solid 1px #45565E40;
  padding: 15px 0px 25px 0px;
}

.itinerary-summary {
  padding-top: 20px;
}

.book-container {
  padding: 25px;
  margin-bottom: 50px;
  border: 1px solid #45565E40;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

.itinerary-details {
  padding-top: 50px;
}

.MuiButtonBase-root.book-button {
  margin: 5px 30px 0px 0px;
}

.fare-breakdown-total {
  border-top: 1px solid #dee2e6 !important;
  padding-top: 6px;
}

.fare-breakdown-text{
  padding: 0px;
}
.fare-breakdown-price{
  text-align: right;
}
