#book-itinerary {
  background-color: #ffffff;
  padding-bottom: 50px;
}

.book-header {
  border-bottom: solid 1px #45565E40;
  padding: 15px 0px 25px 0px;
}

.itinerary-summary {
  padding-top: 20px;
}

.book-container {
  padding: 25px;
  margin-bottom: 50px;
  border: 1px solid #45565E40;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

.itinerary-details {
  padding-top: 50px;
}

.itinerary-segment {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #C1BDBD;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 40px;
  min-height: 90px;
}

.segment-date {
  font-size: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.MuiButtonBase-root.book-button {
  margin: 5px 30px 0px 0px;
}

.fare-breakdown-total {
  border-top: 1px solid #dee2e6;
  padding-top: 6px;
}

.fare-breakdown-text {
  padding: 0px;
}

.fare-breakdown-price {
  text-align: right;
}

.flight-details-drawer {
  padding: 25px 50px;
}

.flight-details-container {
  padding-top: 35px
}

.fare-details {
  background-color: #CACDD61C;
  margin: 40px 15px 15px 15px;
}

.flight-details {
  padding: 15px;
  margin-top: 25px;
}

.MuiTimelineItem-missingOppositeContent:before {
  display: none
}

.fare-rules-preview-container {
  min-height: 200px;
  margin-bottom: 50px;
  border-left: 2px solid #45565E40;
  display: grid;
  grid-template-rows: 1fr;
}

.booking-details-text-container {
  padding-left: 25px;
}

.btn-drawer-back-to-top {
  text-align: center;
  color: #4BAFD7;
}

.btn-drawer-back-to-top:hover {
  cursor: pointer;
}

.close-button-container {
  /*margin-bottom: 10px;*/
  position: fixed;
  right: 50px;
  top: 15px;
}

.booking-drawer-flight-departure-date{
  padding-bottom: 10px;
}

.MuiTimelineDot-defaultPrimary{
  color: black;
  background-color: black !important;
}