.centered-container {
  display: grid;
  justify-items: center;
  outline: none;
  grid-template-rows: 120px;
}

.modal-text-container {
  max-width: 500px;
}

.modal-title {
  font-weight: bold;
  padding: 40px;
  text-align: center;
}

.search-modal-container {
  align-items: center;
  grid-auto-rows: 80px;
  padding: 40px;
}
