@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@font-face {
  font-family: NeuzitGrotesk;
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/NeuzeitGro/NeuzeitGro-Reg.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: NeuzitGrotesk, sans-serif;
  height: auto;
}

/*body .MuiOutlinedInput-input {*/
/*  padding-top: 12px;*/
/*  padding-bottom: 12px;*/
/*}*/

body .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #0DBE7C;
  border-width: 1px;
}

body .tooltip-content {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 100%;
  background: white;
  padding: 12px 16px;
  border: 1px solid #45565E80;
  margin-bottom: 5px;
  transform: translateX(-50%);
  width: max-content;
  max-width: 400px;
  box-shadow: 0 3px 6px #45565E29;
  box-sizing: border-box;
  z-index: 2;
}


body .page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .page-title {
  font-size: 24px;
  color: #45565E;
  font-family: NeuzitGrotesk, sans-serif;
  font-weight: lighter;
}
body .page-description {
  font-size: 16px;
  color: #45565E;
  font-family: NeuzitGrotesk, sans-serif;
  font-weight: lighter;
  margin: 30px 0;
}
body .page-row {
  margin-top: 30px;
  margin-bottom: 0
}
body .radio-label {
  display: block;
  font-size: 16px;
  color: #45565E;
  font-family: NeuzitGrotesk, sans-serif;
  font-weight: bolder;
  margin-bottom: 12px;
}
body .radio-radio .MuiFormControlLabel-label {
  font-size: 14px;
  font-family: NeuzitGrotesk, sans-serif;
  color: #45565E;
}
body .radio-radio:nth-child(2) {
  margin-left: 50px;
}
body .btn-primary {
  border: 2px solid #45565E;
  border-radius: 2px;
  font-size: 16px;
  font-family: NeuzitGrotesk, sans-serif;
  font-weight: bold;
  color: #45565E;
  text-transform: none;
  padding: 5px 20px;
}
body .btn-primary:hover {
  color: white;
  background-color: #45565E;
}
body .btn-filled {
  background: #45565E;
  border: 2px solid #45565E;
  border-radius: 2px;
  font-size: 16px;
  font-family: NeuzitGrotesk, sans-serif;
  font-weight: bold;
  color: white;
  text-transform: none;
  padding: 5px 20px;
}
body .btn-filled:hover {
  background: #45565EEB;
}
body .btn-text {
  font-family: NeuzitGrotesk, sans-serif;
  font-weight: bold;
  text-transform: none;
}
body .btn-text:hover {
  background-color: transparent;
}
body .data-table-total {
  font-size: 18px;
  font-family: NeuzitGrotesk, sans-serif;
  color: #45565E;
  margin-top: 30px;
}
body .MuiButton-textSecondary {
  color: #00B4C3;
}

/*body .main-Content {*/
/*  margin-top: 54px;*/
/*}*/
body .page-Header {
   display: flex;
   align-items: center;
   padding: 0 47px;
   height: 90px;
   font-size: 40px;
  font-family: NeuzitGrotesk, sans-serif;
   font-weight: bold;
   color: #45565E;
 }
body .page-Content {
  display: flex;
  height: calc(100vh - 145px);
  border-top: 1px solid #ABB3B7;
}
body .container {
  padding: 24px 48px;
  max-width: 100%;
  overflow: auto;
}