@font-face {
  font-family: 'NeuzeitGro-Reg';
  src: url(./assets/fonts/NeuzeitGro-Reg.otf)format('opentype');
}

@font-face {
  font-family: 'NeuzeitGro-Bol';
  src: url(./assets/fonts/NeuzeitGro-Bol.otf)format('opentype');
}

:root {
  --primary-dark: #45565E;
  --main: #0DBE7CEB
}

body {
  margin: 0;
  font-family: 'NeuzeitGro-Reg', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #45565E0D 0% 0% no-repeat padding-box;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  color: var(--primary-dark);
}

a:hover, a:active {
  color: #222;
}

h1 {
  text-align: left;
  font-family: 'NeuzeitGro-Bol', sans-serif;
  font-size: 40px;
  letter-spacing: 0px;
  color: var(--primary-dark);
  padding-bottom: 20px;
}

h4 {
  text-align: left;
  font-family: 'NeuzeitGro-Reg', sans-serif;
  font-size: 24px;
  letter-spacing: 0px;
  color: var(--primary-dark);
  padding: 20px 0px;
}

.standard-text {
  font-family: 'NeuzeitGro-Reg', sans-serif;
  font-size: 16px;
  color: var(--primary-dark);
  margin: 0;
}

.bold-text {
  font-weight: bold
}

.small-standard-text {
  font-size: 14px;
}

.btn-primary {
  background-color: #0DBE7CEB;
  color: #fff;
  border-radius: 2px;
  border-color: #0DBE7CEB;
  padding: 15px 19px;
  font-family: 'NeuzeitGro-Bol', sans-serif;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.default-box-styles {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #45565E29;
  border: 1px solid #45565E80;
  border-radius: 5px;
}

.container-fluid {
  margin-bottom: 150px;
}