.navbar { 
  background-color: #ffffff;
  font-size: 16px;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  font-family: 'NeuzeitGro-Bol';
}

.nav-link {
  color: #45565E;
}

.navbar-nav {
	padding-left: 25px;
}
