.login-col {
  background-color: #ffffff;
  height: 100vh;
}

.login-form {
  padding: 125px 75px;
}

.marketing-panel {
  padding: 250px 100px;
}

.login-link {
  color: #4BAFD7;
}

.login-link:hover {
  color: #4BAFD7;
}

.login-button-row {
  padding-top: 25px;
}

.logo-img {
  margin: 25px;
}

#login-button {
  float: right;
}

.login-form-horizontal-line {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.MuiOutlinedInput-root {
    border-radius: 5px !important;
}

.login-form {
    padding: 125px 40px;
}

.login-welcome-message {
  padding-bottom: 40px;
}

.marketing-description {
  padding-left: 0px;
  width: 86%;
}