.login-col {
  background-color: #ffffff;
  height: 100vh;
}

.login-form {
  padding: 125px 40px;
}

.marketing-panel {
  padding: 250px 50px;
}

.login-link {
  color: #4BAFD7;
}

.login-link:hover {
  color: #4BAFD7;
}

.login-button-row {
  padding-top: 25px;
  align-items: center;
}

.login-language-selector {
  padding-top: 25px;
  padding-right: 30px;
}

.logo-img {
  margin: 25px;
}

#login-button {
  float: right;
}

.login-form-horizontal-line {
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-welcome-message {
  padding-bottom: 40px;
}

.marketing-description {
  padding-left: 0px;
}
